<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">CLARA: Collaborative Learning Agents with Reinforcement Autonomy</h2>
  <a href="https://etri-clara.github.io/sub-learning" class="btn"> 협업 학습 기술   </a>
  <a href="https://etri-clara.github.io/sub-graph" class="btn"> 그래프 신경망 기술   </a>
  <a href="https://etri-clara.github.io/sub-hpo" class="btn"> 학습 최적화 기술  </a>
  <a href="https://etri-clara.github.io/sub-vln" class="btn">   언어시각탐색 기술  </a>
  <a href="https://etri-clara.github.io/sub-hri" class="btn"> 인간로봇 상호작용 기술  </a>
  <a href="https://etri-clara.github.io/sub-sgg" class="btn"> 객체 탐지 및 장면그래프기술  </a>
  <br>
  <a href="https://etri-clara.github.io/sub-platform" class="btn"> 협업 플랫폼 기술  </a>
  <a href="https://etri-clara.github.io/sub-marl" class="btn"> 멀티에이전트 강화학습 기술  </a>
  <a href="https://etri-clara.github.io/sub-slam" class="btn"> 분산 SLAM 기술  </a>
  <a href="https://etri-clara.github.io/sub-3d-sgg" class="btn"> 3차원 장면이해 기술  </a>
  <a href="https://etri-clara.github.io/sub-robot" class="btn"> AI Bots 로봇기술  </a>

</section>
